<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="home.css">
  </head>
  <body>
    <h1 class="container">Welcome to the NASA Daily Image App</h1>
    <img class="container" src="{{imageUrl}}" alt="{{imageCaption}}">
    <p>{{imageCaption}}</p>
    <form action="/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
