<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="58915137153-hk0sv694s7erml8d5gcb0b0taornk8s4.apps.googleusercontent.com">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="signup.css">
</head>
<body>
    
    <h2>Sign Up</h2>

    <form action="/signup" method="post">
    
        <input type="text" name="name" placeholder="Name">
        <input type="password" name="password" placeholder="Password">
        <input type="submit">
        
    </form>
    <a href="/auth/google">Authenticate with Google</a>
    <a href="/">Back to Login</a>

    
</body>
</html>